@import url(https://fonts.googleapis.com/css?family=Quicksand);
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', 'Regular';
  background-color: #FF4D43;

}

.main{
  display: flex;
  flex-direction: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  height: 140%;
}

/*-------Header Button Styling---------*/

.main_buttons{
  /*--Location--*/
  float: right;
  position: fixed;
  right: 0;
  width: 20%;
  min-width: 215px;
  background-color: transparent;
}
.main_buttons button{
  /*--Positioning--*/
  display: block;
  float: right;
  /*--Text and Box Style--*/
  background-color: transparent;
  color: black;
  text-decoration: underline;
  border: none;
  /*---Button Spacing---*/
  margin: 1em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.mainBut:hover{
  color: #A8A8A8;
}

/*-----End Button Styling--------- */

.main_grid_obj{
  height: 33%;
  min-height: 5em;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-rows: 20% 80%;
  border: 3px solid yellow;
}
.main_grid_subgrid{
  width: 49%;
  float: left;
  border: 3px solid green;
}
.main_comp_head{
  grid-row: 1/3;
  border: 3px solid red;
}
.main_comp_body{
  display: none;
  padding-left: 1%;
  grid-row: 2;
  border: 3px solid black;
}
.main_comp_head button{
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', 'Bold';
  font-size: 2em;
  border: 3px solid blue;
}
.main_comp_head #gridOne{
  background-image: url("../img/lead_inv2.png");
  background-position: center;
  border: none;
}

.main_comp_head #gridTwo{
  background-image: url("../img/work_exp.jpg");
  background-position: center;
  background-size: 100% 250%;
  border: none;
  
}

.main_comp_head #gridThree{
  background-image: url("../img/lead_inv1.jpg");
  background-position: center;
  background-size: 100%;
  border: none;
}