body{
  margin: 0;
  padding: 0;
}
.main{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  margin-bottom: 0px;
  background-color: #A8A8A8;

}
.main_buttons{
	position: fixed;
  width: 100%;
	background-color: transparent;
}
.main_buttons button{
  display: inline-block;
  margin: 2em;
  float: right;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  font-family: monospace;
  border: none;
  border-radius: 10%;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.mainBut:hover{
  color: #A8A8A8;
}
.profile_photo{
  grid-row: 1;
  grid-column: 1;
  background-image: url("../img/pro_pic.jpg");
  background-size: 100% 100%;
  font-family: monospace;
  color: white;
  font-size: 2.5em;
  padding-left: 1em;
  padding-top: 50%;
  padding-bottom: 5%;
}

.about{
  padding-top: 1em;
  grid-row: 1;
  grid-column: 2;
  background-color: black;
  color:white;
  padding-bottom: 1em;
  padding-left: 5%;
}

.about h2{
  letter-spacing: 0.2em;
  font-size: 2em;
}

@media (max-width:736px){
  .main{
    grid-template-columns: 100%;
    grid-template-rows: 20% 10em;
  }
  .main_buttons{
    grid-row: 2;
    grid-column: 1;
    padding-top: 5%;
  }
  .main_buttons button{
    display: inline-block;
    margin: 0.5em;
  }
  .main_info{
    grid-row: 1;
    grid-column: 1;
  }

}
