@import url(https://fonts.googleapis.com/css?family=Quicksand);
.main{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15em 0em 15em 0em 15em 0em 15em 0em;
  grid-row-gap: 0.75em;
  background-color: #EC5E5E;
  align-content: stretch;
}
.main button{
  font-family: 'Quicksand', 'Bold';
  font-size: 3em;
  font-weight: bold;
}
.main button:hover{
  font-size: 3.5em;
}
body{
  font-family: monospace;
  background-color: #EC5E5E;
}
/*-------Button Styling---------*/
.main_buttons{
  /*--Location--*/
  float: right;
	position: fixed;
  width: 100%;
	background-color: transparent;
}
.main_buttons button{
  /*--Positioning--*/
  display: inline-block;
  float: right;
  /*--Text and Box Style--*/
  background-color: transparent;
  color: black;
  text-decoration: underline;
  font-family: 'Quicksand', 'Regular';
  border: none;
  /*---Button Spacing---*/
  margin: 1em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.mainBut:hover{
  color: #A8A8A8;
}
/*-------End of Buttons----------*/

/*------Grids and Subgrids-------*/

/*------Grid 1---------------*/
.gridOne{
  grid-row: 1;
  background-image: url("../img/lead_inv2.png");
  background-position: center;
  border: none;
}
#education_info{
  grid-row: 2;
  display: none;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-family: 'Quicksand', 'Light';
  font-size: 0.8em;
}
#college{
  grid-column: 1/3;
}
#college:hover{
  color: blue;
  font-weight: bold;
}
#college_schol_course{
  grid-column: 3;
}
/*--------Grid 2----------------*/
.gridTwo{
  grid-row: 3;
  background-image: url("../img/work_exp.jpg");
  background-position: center;
  background-size: 100% 250%;
  border: none;

}
#work_exp_info{
  grid-row: 4;
  display: none;
  font-family: 'Quicksand', 'Light';
  font-size: 0.8em;
}
#work_1{
  grid-column: 1;
}
#work_2{
  grid-column: 2;
}
/*----------Grid 3-----------------*/
.gridThree{
  grid-row: 5;
  background-image: url("../img/lead_inv1.jpg");
  background-position: center;
  background-size: 100%;
  border: none;

}

#lead_inv_info{
  grid-row: 6;
  display: none;
  font-family: 'Quicksand', 'Light';
  font-size: 0.5em;
}

#lead_inv1{
  grid-column: auto;
  grid-row: auto;
}
#lead_inv1 button{
  display: inline-block;
  vertical-align: top;
  font-size: 1.1em;
  width: 24.2%;
  height: 40em;
  margin-top: 0.25%;
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid #A0A0A0;
  border-radius: 5%;
}
#lead_inv1 button:hover{
  background-color: #A0A0A0;
}
#recruitment_chair{

}
#academic_chair{

}
#self_1{
  line-height: 1.2;
}
#self_2{
  line-height: 1.5;
}
#lead_inv2{
  grid-column: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 2em;
  line-height: 1;
  padding-left: 1%;
}
/*------------Grid 4----------------*/
.gridFour{
  grid-row: 7;
  background-image: url("../img/volunteer1.jpg");
  background-position: stretch;
  background-size: 100% 200%;
  border: 10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow10px solid yellow;

}
#skills_info{
  grid-row: 8;
  display: none;
  font-family: 'Quicksand', 'Light';
  font-size: 0.8em;
}

@media (max-width:736px){
  .main button{
    font-size: 2em;
  }
  .main button:hover{
    font-size: 2.5em;
  }
}
