body{
  background-color: #EEEBEB;
}
/*-------Button Styling---------*/
.main_buttons{
  /*--Location--*/
  float: right;
	position: fixed;
  width: 100%;
	background-color: transparent;
}
.main_buttons button{
  /*--Positioning--*/
  display: inline-block;
  float: right;
  /*--Text and Box Style--*/
  background-color: transparent;
  color: black;
  text-decoration: underline;
  font-family: 'Quicksand', 'Regular';
  border: none;
  /*---Button Spacing---*/
  margin: 1em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.mainBut:hover{
  color: #A8A8A8;
}
/*-------End of Buttons----------*/
.header{
  height: 5em;
}
.main{
  display: grid;
  align-items: center;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
}
#main_left_col{
  grid-column: 1;
}
#main_right_col{
  grid-column: 3;
}
.main_project{
  grid-column: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 0.8em;
  border-radius: 5%;
  background-color: #BBBBBB;
}
#project_header{
  grid-row: 1;
  grid-column: 1/3;
}
#project_image img{
  height: 15em;
  width: 46%;
  margin-left: 2%;
}
#project_description_pane{
  grid-column: 1/3;
  grid-row: 2;
}
#project_obj_pane{
  grid-row: 3;
  grid-column: 1;
}
#proj_skills_pane{
  grid-row: 3;
  grid-column: 2;
}

.project_slider{
  height: 5em;
  width: 5em;
  align-self: center;
  border: none;
}
#left_scroll{
  background-image: url("../img/left.png");
  background-size: cover;
  background-color: transparent;
}
#right_scroll{
  background-image: url("../img/right.png");
  background-size: cover;
  background-color: transparent;
}
